# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode files and directories
.vscode

# Other directories
.bash_history
.conda


**/celfpp/InfluenceModels
**/celfpp/temp
**/celfpp/output
**/mmim/build

experiments/images

gurobi.log

.ipynb_checkpoints
